.info-link {
  color: #ffffff !important;
  opacity: 0.7;
  transition: opacity 0.3s, transform 0.3s;
}

.info-link:hover {
  opacity: 1;
  transform: scale(1.05);
}

.info-link:focus {
  outline: none;
}
